streamlit
validators
urllib3
langchain
langchain-groq
langchain-community
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
playwright
requests
beautifulsoup4
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
ipykernel
yt-dlp
openai-whisper
transformers
sentence_transformers
langchain_huggingface